footer {
    background-color: #222736;
    margin-bottom: 0;
    margin-top: 85px;
    width: 100%;
    color: white;
    padding-bottom: 5%;
}

.footer-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

footer .icon {
    display: flex;
    gap: 5px;
}

.icon a {
    height: 40px;
    width: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #5A4D48;
    border-radius: 50%;
}

.icon i{
    color: white;
}

.icon a:hover{
    background-color: white;
}
.icon a:hover i{
    color: #222736;
}