*{
    margin: 0;
    padding: 0;
}

.ConfirmTB{
    padding-top: 10%;
    text-align: center;
}


.fa-regular  {
    margin-top: 2%;
    animation: grow 0.2s ease-in-out;
    font-size: 150px;
}

.ConfirmTB button{
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 50px;
}


@keyframes grow {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.2);
    }
}